<h1>View Announcement</h1>
<table>
	<thead>
		<th>Title</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @announcement.each do |announcement| %>
		<tr>
			<td><%= announcement.title %></td>
			<td>
				<a href="/announcement/<%= announcement.id %>">Show</a> |
				<a href="/announcement/<%= announcement.id %>/edit">Edit</a> |
				<a href="/announcement/<%= announcement.id %>/delete">Delete</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/announcement/new">Create Announcement</a>