<h1>View <%= @announcement.title %></h1>
<table class="table table-striped">
<form action="/announcement/ <%= @announcement.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<div>
		<th scope="col"><label>Body:</label></th>
		<td><textarea cols= "50" rows= "20" input name="announcement[body]" disabled ><%= @announcement.body%></textarea></td>
	</div>
</form>
</table>
