<h1>View Webfile</h1>
<table class="table table-striped">
	<thead>
		<th scope="col">Title</th>
	</thead>
	<tbody>
		<% @webfile.each do |webfile| %>
		<tr>
			<td><%= webfile.title %></td>
			<td><%= image_tag(webfile.image) %></td>
		</tr>
		<% end %>
	</tbody>
</table>