<h1>View <%= @webfile.title %></h1>
<div>
	<%= image_tag @webfile.image %>
</div>
<form action="/webfile/ <%= @webfile.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<div>
		<label>Title:</label>
		<p><%= @webfile.title%></p>
</form>